[mysqld]
bind-address={ds-3}
report_host={ds-3}
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"

server_id=4
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE

log_bin=binlog
log_slave_updates=ON
binlog_format=ROW
master_info_repository=TABLE
relay_log_info_repository=TABLE

transaction_write_set_extraction=XXHASH64
group_replication_group_name="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
group_replication_start_on_boot=off
group_replication_local_address="{ds-4-ip}:24901"
group_replication_group_seeds="{ds-4-ip}:24901,{ds-3-ip}:24901,{ds-2-ip}:24901"
group_replication_bootstrap_group=off