[mysqld]

# common configures
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"
gtid_mode=ON
enforce_gtid_consistency=ON
binlog_checksum=NONE
log_bin=binlog
log_slave_updates=ON
binlog_format=ROW
master_info_repository=TABLE
relay_log_info_repository=TABLE

# group replication configures
transaction_write_set_extraction=XXHASH64
group_replication_group_name="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
group_replication_group_seeds="ds-4:{port},ds-3:{port},ds-2:{port}"
group_replication_start_on_boot=off
group_replication_bootstrap_group=off

# specifics about each instance
server_id={N}
bind-address=ds-{N}
report_host=ds-{N}
group_replication_local_address="ds-{N}:{port}"
relay_log=ds-{N}-relay-bin
