
server.port = 5000

spring.main.allow-bean-definition-overriding=true

spring.datasource.url = jdbc:mysql://127.0.0.1:3306/test

spring.datasource.username = test
spring.datasource.password = test
spring.datasource.driverClassName = com.mysql.cj.jdbc.Driver

spring.jpa.database = MYSQL
spring.jpa.show-sql = true
spring.jpa.hibernate.ddl-auto = update
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5Dialect
spring.jpa.open-in-view=false

spring.kafka.producer.bootstrap-servers = localhost:9090
topic = my-topic
server_id = 1
